/* Frame 2 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 100px;
gap: 191px;

position: absolute;
width: 1512px;
height: 37px;
left: 0px;
top: 43px;



/* Union */

margin: 0 auto;
width: 106px;
height: 37px;

background: #000000;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 100px;

margin: 0 auto;
width: 608px;
height: 19px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Acceuil */

width: 65px;
height: 19px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-transform: uppercase;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Voitures */

width: 76px;
height: 19px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-transform: uppercase;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Catégories */

width: 94px;
height: 19px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-transform: uppercase;

color: #000000;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Contact */

width: 73px;
height: 19px;

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-transform: uppercase;

color: #000000;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Group 1 */

margin: 0 auto;
width: 82px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Vector */

box-sizing: border-box;

position: absolute;
left: 87.96%;
right: 10.32%;
top: 14.86%;
bottom: 14.86%;

background: #000000;
border: 0.5px solid #FFFFFF;


/* Vector */

box-sizing: border-box;

position: absolute;
left: 91.67%;
right: 6.61%;
top: 14.86%;
bottom: 14.86%;

background: #000000;
border: 0.5px solid #FFFFFF;
